@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 15px / 23px "ralewayregular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}


.hero-btn {
  background: #c0392b;
  color: #FFFFFF;
  border: 2px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  display: inline-block;
  text-rendering: optimizelegibility;
}

.hero-btn:hover {
  background: #a3281d;
}



.transition-max-height {
  transition: max-height 0.5s ease-in-out;
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}
